@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --medium-blue: #307bbe;
  --black-two: #121212;
  --white: #e8e8e8;
  --azure: #0290ff;
  --white-two: #fff;
  --cool-blue: #4386bf;
}

body {
  margin: 0;
  background-color: #fafafa;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 20px 10%;
  align-items: center;
  background-color: #fff;
}

li {
  display: inline-block;
  margin-left: 20px;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}

.logo {
  font-size: 32px;
  color: #0290ff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  color: #777;
  font-family: 'Montserrat', sans-serif;
}

.book-cover {
  width: 100%;
}

.book {
  border: 1px solid #eaeaea;
  background-color: #fff;
  padding: 30px;
  margin: 10px 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.book:hover {
  border: 1px solid var(--azure);
}

.book-details {
  flex-grow: 1;
}

.status-and-progress {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.status-wrapper {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 10px 50px;
}

.progress-wrapper {
  padding: 10px 50px;
}

.oval {
  width: 5rem;
  height: 5rem;
}

.percent-complete {
  font-size: 2rem;
  color: var(--black-two);
  display: flex;
  flex-direction: column;
}

.completed {
  font-size: 0.875rem;
  color: var(--black-two);
  opacity: 0.5;
  white-space: pre-line;
}

.separator {
  display: block;
  height: 70px;
  border-left: 1.5px solid var(--white);
  margin-left: 20px;
  margin-right: 20px;
}

.chapter {
  opacity: 0.5;
  color: var(--black-two);
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  margin: 0;
  padding: 5px;
}

.chapter-title {
  height: 100%;
  font-size: 1rem;
  font-weight: 300;
  color: var(--black-two);
  margin: 0;
  padding: 0 0 10px 5px;
}

.update-progress-btn {
  margin-top: 20px;
  border-radius: 3px;
  width: 11.5rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  background-color: var(--azure);
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white-two);
  border: none;
}

h2 {
  margin-bottom: 6px;
  margin-top: 6px;
  font-family: 'RobotoSlab', sans-serif;
}

.category {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  color: var(--black-two);
}

.author {
  color: var(--cool-blue);
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.book-actions-container {
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.book-actions {
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: var(--cool-blue);
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.action-separator {
  opacity: 0.5;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.active {
  color: #121212;
}

.status-display {
  font-size: 20px;
  color: #0290ff;
}

.check-status-btn {
  padding: 10px;
  cursor: pointer;
}

.new-book {
  width: 100%;
  margin: 10px 10%;
  padding-right: 20%;
}

.horizontal-line {
  border: none;
  border-bottom: 1px solid gainsboro;
  margin: 40px 10%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.title-field {
  border: 1px solid gainsboro;
  padding: 15px;
  background-color: #fff;
  margin-right: 30px;
  flex-grow: 1;
}

.category-field {
  border: 1px solid gainsboro;
  padding: 15px;
  background-color: #fff;
  margin-right: 30px;
  width: 30%;
}

.submit-btn {
  cursor: pointer;
  width: 12rem;
  border-radius: 3px;
  background-color: var(--azure);
  border: none;
  color: var(--white-two);
}

@media screen and (max-width: 768px) {
  .book {
    border: 1px solid #eaeaea;
    background-color: #fff;
    padding: 20px;
    margin: 10px 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .new-book {
    padding-bottom: 10%;
  }

  .status-and-progress {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .form {
    flex-direction: column;
    row-gap: 15px;
  }

  .submit-btn {
    cursor: pointer;
    width: 12rem;
    border-radius: 3px;
    background-color: var(--azure);
    border: none;
    color: var(--white-two);
    padding: 10px 1px;
  }

  .separator {
    display: none;
  }

  .title-field {
    width: 100%;
  }

  .author {
    color: var(--cool-blue);
    font-family: 'RobotoSlab', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
  }
}
